<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>UCSD Featured Crime Logs</title>
    
  </head>
  <body>
    <header class="site-header wrapper">
        <div class="header_nav">
          <h1><a href="/"role="logo">UCSD Featured Crime Logs</a></h1>
          <nav>    
            <ul role="list">
              <li><a href="/about" >About</a></li>
              <li><a href="/archive">Archive</a></li>
              <li><a href="/leaderboard">Leaderboard</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <hr>

    <main class="wrapper contact_main">
        <section class="general_section">
            <div class="general_header"> Contact</div>
            <p>Any questions, comments, concerns?</p>
            <br>
            <p> Email me at xldoesit@gmail.com</p>

        </section>
    </main>
  
  </body>
</html>